@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  word-break: normal;
  tab-size: 4;

  -moz-tab-size: 4;
  -o-tab-size: 4;

  color-scheme: light dark;
  color: #16364e;
  font-synthesis: none;
}

@media (prefers-color-scheme: light) {
}